<div class="container m-t-300">
        <div class="wrap-login100 m-l-205 p-r-55 m-t-165 p-b-50 p-t-20 p-l-50">
            <form id="userLoginForm" class="login100-form validate-form">
                <span class="login100-form-title p-b-33">
                    Account Login
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="username" placeholder="Email">
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>

                <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>
                <p class="text-red display-none" id="invalidLoginPrompt">Invalid Login</p>
                <div class="container-login100-form-btn m-t-20">
                    <button id="userLoginSubmit" class="login100-form-btn">
                        Sign in
                    </button>
                </div>
            </form>
        </div>
    </div> 
    {{!--
<div class="row box-shadow" id="home1" style="margin-top: 100px">
    <div class="col col-md-6">
        <h2>Welcome to Chief Minister's Relief Fund, Maharashtra</h2>
        <p>Chief Ministers relief fund aims at providing immediate relief to the people in distress in the State of
            Maharashtra as wel as in the country. The Chief Minister Relief fund provides financial assistance to
            the
            people affected by the major natural calamities like flood, drought, fire accident etc.

            It also provides financial assistance to the economically weaker citizens for treatment of some of the
            major
            diseases </p>
        <a href="/rti">
            <h> More information about Doners</h>
        </a>
    </div>
    <div class="col col-md-6">
        <div class="row m-4">
            <img src="/images/donate.png" alt="..." class="img-thumbnail" style="margin: 20px" />
        </div>
        <div class="row m-4">
            <a href="/donate" style="margin: 20px"><button class="btn btn-primary">Donate</button></a>
        </div>
    </div>
</div>--}}
 <script src="/devJs/main.js"></script>
<script src="/devJs/services/authentication/index.js"></script> 